doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/default.css')

    script(src='/javascripts/functions.js')
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/jquery-ui.js')
    title Trips - #{settings.author}

  body
    div#header
      a#word(target='_blank')
      a#title(href='/')
        span.title_flavor
        div #{settings.sitename} - #{settings.author}
        span.title_flavor
      div#pres #{settings.pres}
      a#rss(target='_blank', href='/rss')
        span.rss

    div#content
      block content
        div#container
          p.footer Created with 
          a(class='footer', href='https://github.com/davidsivocha/slimnode') slimnode
      include analytics